---
---

@import "{{ site.theme }}";

body {
	font-size: 1em;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.75em;
}

h6 {
	font-size: 0.625em;
}

.wrapper {
	width: 860px;
}

section {
	width: 800px;
}

nav {
	left: 42%;
}
