---
---

@import "{{ site.theme }}";

body {
	font-size: 1.6em;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.75em;
}

h6 {
	font-size: 0.625em;
}
